:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: auto;
  text-align: center;
 
}

#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/1200x/f9/96/a8/f996a8b256632b8766e8735a6ac435a1.jpg);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px;
  text-shadow:#888;
  border-radius: 10px;
  color: #3b3b3b;
}
#inicio h5 {
  border: #222121;
  border-radius: 10px;
  padding: 10px;
  
}
#cartelito{
  display: flex;
  justify-content: center;
  align-items: center;
}


#navegacion {
  display:flexbox;
  -webkit-padding-start:  15px;
  justify-content: space-between;
  align-items:flex-start;
  font-family:cursive;
  font-size: 15px;
  font-weight: bold;
  background-color: #888;
  
}
#mapa{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353434;
  background: #f8facfaa;
}

#galeria {
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

